* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-image: url(./images/M.Sc.svg);
    background-size:38%;
    background-position-x: center;
    background-position-y:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar-nav {
    display: flex;
    gap: 20px;
}

@media only screen and (max-width: 600px){
    .navbar-nav {
        display: flex;
        gap: 20px;
    }
    .nav-underline {
        --bs-nav-underline-gap: 1rem;
        /* --bs-nav-underline-border-width: 0.125rem; */
        /* --bs-nav-underline-link-active-color: var(--bs-emphasis-color); */
        gap: var(--bs-nav-underline-gap);
    }
}